body {
    font-family : "Crimson Text", serif;
    background-color : #F2FFFC";
    line-height: 1.5;
}


h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

.titulo-principal {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #851944;
    padding: 25px;
    font-size: 60px;
    border-bottom: 10px solid black;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    clear: both;
}


main div {
    width: 720px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;

}

main {
    float:  left;
    width: 85%;
    padding-bottom: 80px;
}

p {
    font-family: "Crimson Text", sans-serif;
    text-align: justify;
}

main p {
    padding-top: 20px;
    padding-bottom: 20px;

}


.depoimentos {
    background-color: #D9E5E3;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    border: 10px solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: #FFF;
}

.fiat {
    float: left;
}

.petrobras {
    float: right;
}

.menus {
    font-family: "Open Sans Condensed";
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    text-transform: lowercase;
    width: 100px;
    float: right;
    box-sizing: border-box;
    width: 15%;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    position:  relative;
    top: 310px;
}

.menus h1 {
    font-size: 30px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.redes-sociais li {
    display: inline-block;
}

.redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -99999px;
}

.github {
    background-image: url(github.png);
}

.twitter {
    background-image: url(twitter.png);
}

.linkedin {
    background-image: url(linkedin.png);
}

.roda-pe-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear:  both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    
}

.foto-do-silva {
    float: right;
    width: 300px;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;    
    position: absolute;
    top: 0;
    right: 0;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}


ul li a {
  color: inherit;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

article {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
