body {
    font-family : "Crimson Text", serif;
    background-color : #F2FFFC";
    line-height: 1.5;
}


h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

.titulo-principal {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #851944;
    padding: 25px;
    font-size: 60px;
    border-bottom: 10px solid black;
}

h2 {
    font-size: 30px;
}


main div {
    width: 720px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;

}


p {
    font-family: "Crimson Text", sans-serif;
    text-align: justify;
}

main p {
    padding-top: 20px;
    padding-bottom: 20px;

}


.depoimentos {
    background-color: #D9E5E3;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    border: 10px solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: #FFF;
}

.menus {
    font-family: "Open Sans Condensed";
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

.menus h1 {
    font-size: 30px;
    padding-bottom: 25px;
}

.redes-sociais li {
    display: inline-block;
}

.roda-pe-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}


ul li a {
  color: inherit;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

article {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
